:root {
  /* Define your variable colors here */
  --bg-color: radial-gradient(
    circle,
    rgb(144, 228, 182) 2%,
    rgb(157, 163, 66) 91%
  );
  --button-color: lightblue;
  --hover-color: rgb(71, 159, 194);
  --alive-colour: rgb(25, 163, 25);
  --deceased-colour: rgb(158, 37, 158);
  --unknown-color: rgb(172, 172, 37);
}
