@import "_base.css";
@import "_fonts.css";
@import "_colors.css";

body {
  display: grid;
  grid-template-rows: 20vh 70vh 10vh;
}

header {
  height: 20vh;
  display: flex;
  justify-content: space-around;
  align-self: center;
  flex-direction: row;
}

footer {
  bottom: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
