@import "_base.css";
@import "_fonts.css";
@import "_colors.css";

body {
  display: grid;
  grid-template-rows: 20vh 70vh 10vh;
}

header {
  height: 20vh;
  display: flex;
  justify-content: space-between;
  align-self: center;
  flex-direction: row;
  background: var(--bg-color);
}

footer {
  bottom: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  background: var(--bg-color);
  width: 100vw;
  height: 10vh;
}

img {
  width: 200px;
  height: 150px;
}
.form-button {
  margin: 2em;
  align-self: center;
}

.button {
  background-color: var(--button-color);
  border-radius: 5px;
  border: 3px none yellowgreen;
  padding: 0.75em 1.5em;
}

.button:hover {
  background-color: var(--hover-color);
}

.card {
  border: 3px solid;
  width: 20em;
  height: 20em;
  margin: 5em;
}
